@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.welcomeWindow {
	text-align: center;
	margin: auto;
}

#info {
	position: absolute;
	top: 33%;
	left: 32%;
	right: 30%;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serf;
	font-size: 20px;
}

#enterGame {
	position: absolute;
	top: 78%;
	left: 44%;
}

.titles {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}

html {
	background: url(../img/chalkboard.png) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
}

h1{
	color: white;
	font-size: 50px;
	font-family: 'Homemade Apple', cursive;
	text-align: center;
	margin-top: 0px;
	margin-bottom: -5px;
}

table {
	border-collapse: collapse;
	margin: auto;
}

table td, table th {
	border: 3px solid rgba(255,255,255, 0.6);
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child, 
table tr th:first-child {
	border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
	border-right: 0;
}

td {
	width: 140px;
	height: 140px;
}

td:hover {
	background-color: pink;
	opacity: .5;
	cursor: pointer;
}

p {
	color: white;
	margin-bottom: -10px;
}

#winnerOne {
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
}
#winnerTwo {
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
}

#right {
	text-align: right;
}

#catsGame {
	color: white;
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
}

.leftContainer {
	float: left;
	width: 20%;
	min-height: 400px;
	padding-left: 20px;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}

.rightContainer {
	float: right;
	width: 20%;
	min-height: 400px;
	padding-right: 20px;
	text-align: right;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}

#playerOneWins {
	position: absolute;
	top: 400px;
	left: 0px;
	float: left;
	padding-left: 20px;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}

#playerTwoWins {
	position: fixed;
	top: 400px;
	right: 0px;
	margin-right: 0px;
	padding-right: 20px;
	text-align: right;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}

input[type=text] {
	height: 25px;
	width: 140px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}

.submitButton {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	background-color: white;
	margin-top: 30px;
	border-radius: 5px;
	color: black;
	height: 30px;
	font-size: 18px;
}

.submitButton:hover {
	cursor: pointer;
	background-color: black;
	border-style: solid white;
	color: white;
}

#letsPlayDiv {
	text-align: center;
}

button {
	width: 140px;
	height: 45px;
	font-size: 30px;
	background-color: white;
	margin-top: 30px;
	border-radius: 5px;
	color: black;
	font-family: 'Amatic SC', cursive;
}

button:hover {
	cursor: pointer;
	background-color: black;
	border-style: solid white;
	color: white;
}

.X {
	background-image: url(../img/xmarker.png);
}

.O {
	background-image: url(../img/omarker.png);
}

.spinMe {
	-webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media (max-width: 1086px) {
	.p {
		font-size: 20px;
	}
	.leftContainer {
		font-size: 20px;
	}
	.rightContainer {
		font-size: 20px;
	}
	.winner {
		font-size: 20px;
	}
	#catsGame {
		font-size: 20px;
	}
	#info {
		font-size: 15px;
	}
	input[type=text] {
		height: 10px;
		width: 80px;
	}
	input[type=submit] {
		height: 10px;
		width: 40px;
		font-size: 10px;
	}
	td {
		width: 100px;
		height: 100px;
	}
	.X {
		background-size: 100px;
	}
	.O {
		background-size: 100px; 
	}
}